
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found - VeriDoc HR</title>
    <meta name="description" content="This is our custom 404 error page. You can go to our Home page by clicking Back Home tab. You can contact us 1800 083 743." />
    <link rel="canonical" href="https://vdghr.com/404/" />
    <!-- Favicon  -->
    <link rel="apple-touch-icon" sizes="57x57" href=" ~/Content/main-assets/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href=" ~/Content/main-assets/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href=" ~/Content/main-assets/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href=" ~/Content/main-assets/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href=" ~/Content/main-assets/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href=" ~/Content/main-assets/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href=" ~/Content/main-assets/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href=" ~/Content/main-assets/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href=" ~/Content/main-assets/img/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href=" ~/Content/main-assets/img/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href=" ~/Content/main-assets/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href=" ~/Content/main-assets/img/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href=" ~/Content/main-assets/img/icon/favicon-16x16.png">
    <link href="~/Content/main-assets/css/404.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="center">
        <div class="error">
            <div class="number">4</div>
            <div class="illustration">
                <div class="circle"></div>
                <div class="clip">
                    <div class="paper">
                        <div class="face">
                            <div class="eyes">
                                <div class="eye eye-left"></div>
                                <div class="eye eye-right"></div>
                            </div>
                            <div class="rosyCheeks rosyCheeks-left"></div>
                            <div class="rosyCheeks rosyCheeks-right"></div>
                            <div class="mouth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="number">4</div>
        </div>

        <div class="text">Oops. The page you're looking for doesn't exist.</div>
        <a class="button" href="../">Back Home</a>
    </div>

</body>
</html>
